/Untitled.ipynb
new_dummyFiles.csv
new_file_data.csv
persionalDetails_data_personalDetails.csv
merge_merged.csv
selected_data_otherDetails.csv
selected_data_personalDetails.csv
merge_final.csv
filtered_userprofile_data.csv
app_userprofile_data.csv
app_userprofile_data.csv
\App\test.py
\App\migrations
\App\__pycache__
\App\database.py
.ipynb_checkpoints
\App\new.py
\Project\__pycache__
appenv